#<IfModule authz_core_module>
#    Require all denied
#</IfModule>
#<IfModule !authz_core_module>
#    Deny from all
#</IfModule>

<IfModule mod_rewrite.c>

    # for security reason, option followsyslinks cannot be overridden
    # Options +FollowSymLinks
    Options +SymLinksIfOwnerMatch
    RewriteEngine on

    # Send request viz index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>